
.sobremim{
    background-image: url('../png/sobremim.png');
    height: 1080px;
    width: 1920px;
    overflow: hidden;
    position: relative;
}
.sobremim::after{
    content: 'oi';
    color: transparent;
    background: linear-gradient(0deg, rgb(0,0,0), rgb(0,0,0)50%, transparent);
    width: 1920px;
    height: 300px;
    position:absolute;
    top: 800px;
    left: 0px;
}
.barra{
    background-color: rgb(30,144,255, 1);
    backdrop-filter: blur(16px) saturate(180%);
    width: 60%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 20%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: auto;
}
.sociais{
    background-color: rgb(30,144,255, 1);
    position: fixed;
    left: 200px;
    top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-align: center;
    width: 130px;
    height: 80px;
    transition: 2s;
    user-select: none;
}
.sociais:hover{
    color: rgb(211,211,211, 0.8);
    background-color: rgb(30,144,255, 0.3);
    backdrop-filter: blur(16px) saturate(180%);
    text-shadow: 0px 0px 5px 5px white;
    height: 300px;
}
.sociais p{
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    line-height: 32px;
    left: 20px;
    top: -30px;
    font-size: 40px;
}
.Github{
    position: fixed;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    width: auto;
    height: auto;
    padding-bottom: 0px;
}