
/* background */
.sobremim{
    background-image: url('../png/sobremim.png');
    height: 1080px;
    width: 1920px;
    overflow: hidden;
    position: relative;
}
.sobremim::after{
    content: 'oi';
    color: transparent;
    background: linear-gradient(0deg, rgb(0,0,0), rgb(0,0,0)50%, transparent);
    width: 1920px;
    height: 300px;
    position:absolute;
    top: 800px;
    left: 0px;
}
/* barra inicial */
.barra{
    background-color: rgb(30,144,255, 1);
    backdrop-filter: blur(16px) saturate(180%);
    width: 60%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 20%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: auto;
}
/* redes sociais */
.sociais{
    background: transparent;
    width: 110px;
    height: 80px;
    position: fixed;
    left: 80px;
}
.sociais p{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 0.8;
    position: absolute;
    left: 10px;
    top: -30px;
    user-select: none;
}
/* aba das redes sociais */
.infosociais{
    background-color: rgb(30,144,255, 0.5);
    width: 110px;
    height: 0px;
    position: absolute;
    top: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(16px), saturate(180%);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}
/* animação no sociais */
.sociais:hover .infosociais{
    opacity: 1;
    pointer-events: auto;
    height: 300px;
}
/* botoões das redes sociais */
.instagram{
    position: fixed;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 28px;
    font-family: "Bebas Neue", sans-serif;
    top: 100px;
    transition: 1s;
}
.instagram:hover {
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
    background-clip: text;
    color: transparent;
}