body{
    background-repeat: no-repeat;
    height: 3240px;
    width: 1920px;
    background-color: black;
    overflow-x: hidden;
}
h1{
    color: white;
}
/* parte da programação */
/* texto central */
.programação{
    background-image: image-set('imagem1.jpg');
    background-repeat:no-repeat;
    height: 1080px;
    width: 1920px;
    position:relative;
    top: 1081px;
    display: flex;
    justify-content: center;
}
.square1{
    background-color: rgb(255,255, 255, 0.50);
    width: 500px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    backdrop-filter: blur(16px) saturate(180%);
    box-shadow: 0px 0px 10px 10px rgb(255,255, 255, 0.50);
}
.square1 h1{
    color: black;
}
.square1 p{
    color: black;
    font-style: bold;
    font-size: larger;
}
/* projetos na programação */
.project1{
    background-color: rgb(0, 0, 0, 0.50);
    width: 90px;
    height: 700px;
    backdrop-filter: blur(16px) saturate(180%);
    position: absolute;
    left: 0px;
    top: 20%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 2s;
    box-shadow: 0px 0px 3px 3px black;
}
/* escrita "projetos" */
.squarep{
    background-color: transparent;
    width: 60px;
    height: 580px;
    right: 15px;
    position:fixed;
    align-content: center;
    text-shadow: white 0.0em 0.0em 0.0em;
    transition: 2s;
}
.squarep p{
    color: white;
    font-size: 390%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    font-optical-sizing: auto;
}
/* animação da barra */
.project1:hover{
    width: 1500px;
}
.project1:hover .squarep{
    text-shadow: white 0.0em 0.0em 0.5em;
}