body{
    background-repeat: no-repeat;
    height: 3240px;
    width: 1920px;
    background-color: black;
    overflow-x: hidden;
}
h1{
    color: white;
}
/* parte da programação */
.programação{
    background-image: image-set('imagem1.jpg');
    background-repeat:no-repeat;
    height: 1080px;
    width: 1920px;
    position:relative;
    right: 2px;
    top: 1081px;
    display: flex;
    justify-content: center;
}
.square1{
    background-color: red;
    width: 500px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
}
.programação h1{
    color: white;
}
.programação p{
    color: white;
    font-style: bold;
    font-size: larger;
}